body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding-top: 80px; /* Rezerva pro fixní menu */
}

/* Kontejner */
.container {
    background-color: #2f2f2f; /* O něco světlejší než pozadí stránky */
    text-align: center;
    margin: 20px auto;
    padding: 25px;
    border-radius: 20px;
    color: #ffffff;
    width: 80%;
    max-width: 800px;

    /* Efekt "mlhy" kolem – jemný rozmazaný rámeček */
    box-shadow:
        0 4px 30px rgba(0, 0, 0, 0.1),
        0 0 10px rgba(255, 255, 255, 0.08);
    
    backdrop-filter: blur(4px); /* rozmazání pozadí – volitelné */
    -webkit-backdrop-filter: blur(4px); /* pro Safari */
    border: 1px solid rgba(255, 255, 255, 0.1); /* jemný ohraničující pás */
}


h2 {
    font-size: 28px;
    color: #ff9900;
    margin-top: 30px;
}

p {
    color: #ffcc00;
    margin-top: 30px;
}
